@media screen and (min-width: 1025px) {
    .navBar {
        float: right;
    }

    .navContent {
        display: inline-flex;
    }

    .navLinks {
        display: inline-flex;
        margin: 0;
        width: max-content;
        padding-right: 1em;
        padding-top: 1em;
    }

    .logo {
        float: left;
        font-size: 1em;
        padding-left: 1em;
        padding-top: .5em;
        letter-spacing: 2px;
    }
    .heroImg {
        height: 60vh;
    }
.heroOuter {
    height: 60vh;
}
.covertext{
    font-size: 200%;
}
.flexChildren {
    flex-basis: 30%;
    flex: 1;
    justify-content: space-between;
    background-color: white;
    padding: 5%;
     margin: 5%;
}
}