header {
    font-family: 'tapestry', sans-serif;
    color: rgb(245, 153, 16);
    font-size: 10vw;
    margin: 0 auto;
    background-color: white;

}

body {
    font-family: 'pt-serif', sans-serif;
    min-height: 100vh;
    background-color: rgb(1, 53, 1);

}

/* burger menu & navbar for mobile screens */
#logo {
    text-transform: uppercase;
    color: rgb(245, 153, 16);
    float: right;
    font-size: 70%;
}

/* desktop navbar and subnav menu*/

.navbar {
    overflow: hidden;
    position: relative;
}

.navbar #navLinks {
    display: none;
    font-size: 30%;
}

/* style nav links */

.navbar a {
    color: rgb(1, 53, 1);
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    display: block;
    background-color: rgba(245, 153, 16, 0.288);
    z-index: 1;
}

.navbar>a {
    font-size: 20px;
}

/* style the subnav menu */
.subnav {
    overflow: hidden;

}

.subnav .subnavbtn {
    color: rgb(1, 53, 1);
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    text-decoration: none;
    margin: auto 0;
    background-color: rgba(245, 153, 16, 0)
}

.navbar a:hover,
.subnavbtn:hover {
    text-decoration-line: underline;
}

.subnav-content {
    display: none;
    width: 100%;
    float: right;
}

.subnav-content a {
    color: rgb(1, 53, 1);
    text-decoration: none;
    text-align: center;
    display: block;
    width: inherit;
}

.subnav-content a:hover {
    text-decoration-line: underline;
}

.subnav:hover .subnav-content {
    display: block;
}


/*style the burger menu*/
.navbar a.icon {
    background: white;
    color: rgb(1, 53, 1);
    display: block;
    right: 0;
    top: 0;
    float: left;
}

/* hero-image */

#hero-img {
    width: 100%;
    height: 40vh;
    background: url('../images/hero.webp') no-repeat center center;
    background-size: cover;
    background-color: white;
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer {
    width: 100%;
    height: 40%;
    overflow: hidden;
    position: relative;
}

#cover-text {
    font-size: 70%;
    font-family: 'tapestry', sans-serif;
    text-transform: uppercase;
    width: max-content;
    height: max-content;
    bottom: 10px;
    margin: auto;
    position: absolute;
}

#cover-text h2 {
    color: rgb(245, 153, 16);
    background-color: rgba(1, 53, 1, 0.541);
    text-align: center;
    width: 70%;
    height: 50%;
    margin: auto;
    font-family: 'tapestry', sans-serif;
}

/* hero-image animation */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* main section styling */
.section {
    position: relative;
}

h2 {
    font-family: 'tapestry', sans-serif;
}

/*style and position paragraphs */
h3 {
    text-transform: uppercase;
    color: rgb(245, 153, 16);
    font-family: 'tapestry', sans-serif;
    text-align: center;
}

.paragraph {
    height: 60%;
    width: 100%;
    border: 1px solid rgb(245, 153, 16);
    color: rgb(1, 53, 1);
    background-color: white;
    text-align: justify;
    margin: auto;
    margin-top: 5%;
}

p {
    font-size: 16px;
}

p>a {
    color: rgb(1, 53, 1);
}

.fossilImage {
    background: url('../images/fossil.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 40vh;
    margin-top: 5%;
}

.video {
    margin-top: 5%;
}
/* style the quiz section */
.quizSection {
    background-color: white;
    border: 1px solid rgb(245, 153, 16);
    margin-top: 10%;
}

.quizSection ul {
    list-style-type: none;
    text-align: justify;
}

.correct {
    display: none;
    background-color: green;
    color: white;
    width: max-content;
}

.wrong {
    display: none;
    background-color: red;
    color: white;
    width: max-content;
}

.checked input:checked+.correct {
    display: block;
}

.checked input:checked+.wrong {
    display: block;
}

/* to style footer */
footer {
    height: max-content;
    width: 100%;
    font-family: 'pt-serif', sans-serif;
    text-align: center;
    padding-top: 19px;
    background-color: white;
}

.socialIcons {
    margin: 0 auto;
    padding-right: 10%;
}

.socialIcons>li {
    display: inline;
}

.socialIcons i {
    font-size: 200%;
    color: rgb(1, 53, 1);
    margin-top: 10%;
    letter-spacing: 20px;
}

.copyright {
    font-size: 100%;
    color:rgb(1, 53, 1);
    margin-top: 10%;
}

/*style form*/
.form {
    height: 40vh;
    width: 40vh;
    display: block;
    text-align: center;
    font-family: inherit;
    color: rgb(1, 53, 1);
    margin: 0 auto;

}

form {
    display: inline-block;
    margin: auto;
    text-align: left;
}

.formLabel {
    text-align: left;
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
}

.formInput {
    border: 1px solid rgb(1, 53, 1);
}

input[type="submit"] {
    background-color: rgb(1, 53, 1);
    color: white;
    font-family: 'pt-serif', sans-serif;
    display: block;
    margin-top: 5px;
}

fieldset {
    border: 1px solid rgb(245, 153, 16);
}
/* style the submit newsletter response page */
.submitSection {
    background-color: white;
    color: rgb(245, 153, 16);
    text-align: center;
}

/* style heading divs on dinosaur.html page*/

.topdiv {
    height: 40%;
    width: 80%;
    border: 10px solid rgba(245, 153, 16, 0.288);
    text-align: center;
    margin: 0 auto;
    position: relative;
    margin-top: 5%;
    background-color: white;
    color: rgb(245, 153, 16);

}

.topdiv p {
    color: rgb(1, 53, 1);
    text-align: center;
    margin: 0 auto;
}

.topdiv h2 {
    margin: 0 auto;
}

.topdiv h2 p {
    border: 10px solid rgba(245, 153, 16, 0.288);
}

/* style and position the images on dinosaur.html page*/
.spinoImage {
    background: url('../images/spinosaurus.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 40vh;
    margin-top: 5%;
}

.gigoImage {
    background: url('../images/gigonotosaurus.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 40vh;
    margin-top: 5%;
}

.trexImage {
    background: url('../images/trex.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 40vh;
    margin-top: 5%;

}

.argentinImage {
    background: url('../images/argentinosaurus.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 40vh;
    margin-top: 5%;
}

.mamenImage {
    background: url('../images/mamenchisaurus.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 40vh;
    margin-top: 5%;
}

.brachioImage {
    background: url('../images/brachiosaurus.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 40vh;
    margin-top: 5%;
}

@media screen and (min-width: 768px) {

    /* for desktop logo */
    #logo {
        float: left;
        letter-spacing: 4px;
        font-size: 20%;
    }

    /* desktop navbar and subnav menu

    .navbar {
        overflow: hidden;
        float: right;
        padding: 20px;
        margin: 0 auto;
    }

    .navbar>a {
        float: left;
        color: rgb(1, 53, 1);
        text-align: center;
        text-decoration: none;
        letter-spacing: 4px;
        padding: 14px 16px;
    }

    .subnav {
        float: left;
        overflow: hidden;
    }

    .subnav .subnavbtn {
        color: rgb(1, 53, 1);
        border: none;
        outline: none;
        font-family: inherit;
        background-color: inherit;
        font-size: 20px;
        text-align: center;
        padding: 14px 16px;
        letter-spacing: 4px;
        text-decoration: none;
        margin: auto 0;
    } */


    #hero-img {
        height: 60vh;
    }

    #hero-outer {
        height: 60vh;
    }

    #cover-text {
        font-size: 130%;
    }

}