@media screen and (min-width: 768px) and (max-width:1024px) {
    .logo {
    font-size: 2em;
    padding-right: .5rem;
    }
    .coverText {
        width: 100vw;
        margin: 0;
    }

    .coverText h2 {
        width: max-content;
    }

    .coverText {
        font-size: 130%;
    }

    h3 {
        font-size: 2em;
    }

    p {
        font-size: 1.5em;
    }
    footer{
        margin: 0;
        padding: 0;
        background-size: cover;
    }

    .form {
        height: max-content;
        width: 100vw;
    }

    .formLabel,
    .formInput,
    .socialIcons,
    .topdiv,
    input[type="submit"] {
        font-size: 2em;
    }

    .caption {
        font-size: 1.25em;
    }

    .quizSection ol {
        font-size: 1.25em;
    }

    .flexContainer {
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .flexChildren {
        max-width: 100vw;
        padding: 5%;
        margin: 5%;
    }
    .quizSection ul li {
        padding: 2.5%;
        font-size: 1.5em;
    }
    .caption{ width: 75vw;}
    
    .socialIcons i {
        font-size: 1.5em;
    }
    .socialIcons.copyright i {
        font-size: 1em;
    }
    .copyright {
        font-size: 1em;
    }
}